{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "transform-decorators-legacy"
    ],
    "env": {
        "debug": {
          "sourceMaps": "inline",
          "retainLines": true
        }
    }  
}